*.zip
*.wlf
*.o
*.afx
*.crf
*.htm
*.tra
*.dep
*.lst
*.o
*.crf
*.autosave
*.csd
*.sdf_typ.csd

**/*.o
**/*.afx
**/*.crf
**/*.htm
**/*.tra
**/*.dep
**/*.lst

config.properties
**/config.properties
**/**/config.properties
**/**/**/config.properties
**/**/**/**/config.properties

**/**/*.o
**/**/*.afx
**/**/*.crf
**/**/*.htm
**/**/*.tra
**/**/*.dep
**/**/*.lst

default.txt
**/default.txt
**/**/default.txt
**/**/**/default.txt

=======
**/**/**/**/default.txt
**/**/**/**/**/default.txt
**/**/**/**/**/**/default.txt
**/**/**/**/**/**/**/default.txt
**/**/**/**/**/**/**/**/default.txt
**/**/**/**/**/**/**/**/**/default.txt

*.ddb
**/*.ddb
**/**/*.ddb
**/**/**/*.ddb

*.sld
**/*.sld
**/**/*.sld
**/**/**/*.sld
*.ipch
**/*.ipch
**/**/*.ipch
**/**/**/*.ipch
*.sdf
**/*.sdf
**/**/*.sdf
**/**/**/*.sdf

*.dpf
**/*.dpf
**/**/*.dpf
**/**/**/*.dpf

*.opensdf
**/*.opensdf
**/**/*.opensdf
**/**/**/*.opensdf
.idea/*
**/.idea/*
**/**/.idea/*
**/**/**/.idea/*
**/**/**/**/.idea/*

modelsim/*
verilog/modelsim/*
**/modelsim/*
**/**/modelsim/*
**/**/**/modelsim/*

**/_Build_Files/*
**/**/_Build_Files/*
**/**/**/_Build_Files/*
**/**/**/**/_Build_Files/*

slprj/*
**/slprj/*
**/**/slprj/*
**/**/**/slprj/*
**/**/**/**/slprj/*
**/**/**/**/**/slprj/*

debug/*
**/debug/*
**/**/debug/*
**/**/**/debug/*
**/**/**/**/debug/*
**/**/**/**/**/debug/*

tmp/*
**/tmp/*
**/**/tmp/*
**/**/**/tmp/*
**/**/**/**/tmp/*
**/**/**/**/**/tmp/*

target/*
**/target/*
**/**/target/*
**/**/**/target/*
**/**/**/**/target/*

*_dspbuilder/*
**/*_dspbuilder/*
**/**/*_dspbuilder/*
**/**/**/*_dspbuilder/*
**/**/**/**/*_dspbuilder/*

*.cdf
**/*.cdf
**/**/*.cdf
**/**/**/*.cdf

*.asv
**/*.asv
**/**/*.asv
**/**/**/*.asv
**/**/**/**/*.asv
**/**/**/**/**/*.asv

*.cproject
**/*.cproject
**/**/*.cproject

*.project
**/*.project
**/**/*.project

*.r20*
**/*.r20*
**/**/*.r20*
**/**/**/*.r20*

*.mdl.original
**/*.mdl.original
**/**/*.mdl.original
**/**/**/*.mdl.original

*.mdlxml
**/*.mdlxml
**/**/*.mdlxml
**/**/**/*.mdlxml

*.jic
*.map
*sopc_*
*.jdi
*.ptf.*
*.sof
*.pof
*.qws
*.smsg
*_inst.vhd
*_generation_script*
*.done
*.qarlog
*.rpt
*.summary
*.qws
*.cmp
*.eqn
*.html
*.jpg
*.png
*.bak
*.qar
*.sopc_builder

*~
*.pin
*.stp

################ ignore Quartus II generated folders ################
db/
incremental_db/
simulation/
timing/
*_sim/

**/db/
**/incremental_db/
**/simulation/
**/timing/
**/*_sim/

**/**/db/
**/**/incremental_db/
**/**/simulation/
**/**/timing/
**/**/*_sim/

**/**/*.jic
**/**/*.map
**/**/*sopc_*
**/**/*.jdi
**/**/*.ptf.*
**/**/*.sof
**/**/*.pof
**/**/*.qws
**/**/*.smsg
**/**/*_inst.vhd
**/**/*_generation_script*
**/**/*.done
**/**/*.qarlog
**/**/*.rpt
**/**/*.summary
**/**/*.qws
**/**/*.cmp
**/**/*.eqn
**/**/*.html
**/**/*.jpg
**/**/*.bak
**/**/*.qar
**/**/*.sopc_builder

**/**/*~
**/**/*.pin

############################# modelsim ##############################
**/wlft*
**/_lib1*

verilog.psm
verilog.prw
_primary*

**/*.jic
**/*.map

**/*sopc_*
**/*.jdi
**/*.ptf.*
**/*.sof
**/*.pof
**/*.qws
**/*.smsg
**/*_inst.vhd
**/*_generation_script*
**/*.done
**/*.qarlog
**/*.rpt
**/*.summary
**/*.qws
**/*.cmp
**/*.eqn
**/*.html
**/*.jpg
**/*.bak
**/*.qar
**/*.sopc_builder

**/*~
**/*.pin
*.mpf
*.mti
**/*.mpf
**/*.mti
**/**/*.mpf
**/**/*.mti

wlf*
**/wlf*
**/**/wlf*
work/_lib1_*
**/work/_lib1_*
**/**/work/_lib1_*
**/**/**/work/_lib1_*
work/*
**/work/*
**/**/work/*
**/**/**/work/*

**/*.stp
**/**/*.stp
**/**/**/*.stp
*.vstf
**/*.vstf
**/**/*.vstf
**/*.cr.mti
*.mti
**/*.mti
**/**/*.mti
**/**/**/*.mti


*.hex
**/*.hex
**/**/*.hex
**/**/**/*.hex
**/**/**/**/*.hex
**/**/**/**/**/*.hex

*.class
**/*.class
**/**/*.class
**/**/**/*.class

bin/*
**/bin/*
**/**/bin/*
**/**/**/bin/*
**/**/**/**/bin/*
**/**/**/**/**/bin/*
obj/*
**/obj/*
**/**/obj/*
**/**/**/obj/*
**/**/**/**/obj/*
**/**/**/**/**/obj/*

*.suo
**/.suo
**/**/.suo
**/**/**/.suo
**/**/**/**/.suo
**/**/**/**/**/.suo

greybox_tmp/*
**/greybox_tmp/*
**/**/greybox_tmp/*
**/**/**/greybox_tmp/*
**/**/**/**/greybox_tmp/*
**/**/**/**/**/greybox_tmp/*

_UpgradeReport_Files/*
**/_UpgradeReport_Files/*
**/**/_UpgradeReport_Files/*
**/**/**/_UpgradeReport_Files/*
**/**/**/**/_UpgradeReport_Files/*
**/**/**/**/**/_UpgradeReport_Files/*